#nineties-button, #zeroes-button, #tens-button {
    height: 15vmin;
    width: auto;
}

#nineties-button img, #zeroes-button img, #tens-button img {
    height: inherit;
    width: inherit;
}

#choose-your-destiny {
    max-height: 10%;
    max-width: 80%;
    height: auto;
    width: auto;
    bottom: 5vh;
    top: auto;
}

/* 43.30 é sqrt(3)/2 de 50, que é a proporção da altura de um triangulo quanto a seu tamanho */
@media all and (orientation:landscape) {
	#nineties-button {
        bottom: 56.30vh;
    }

    #zeroes-button {
        right: 50vh;
        top: 30.30vh;
    }

	#tens-button {
        left: 50vh;
        top: 30.30vh;
    }
}

/* 51.96 é sqrt(3)/2 de 60, que é a proporção da altura de um triangulo quanto a seu tamanho */
@media all and (orientation:portrait) {
	#nineties-button {
        bottom: 51.96vw;
    }

    #zeroes-button {
        right: 60vw;
        top: 51.96vw;
    }

	#tens-button {
        left: 60vw;
        top: 51.96vw;
    }
}
