@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

/* Procurar como deixar isso dentro da font-family Bebas Neue */
@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('../fonts/BebasNeue Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


