@font-faces {
	font-family: 'Bebas Neue';
	src: url(fonts/BebasNeue Bold.ttf) format('truetype');
	font-weight: bold;
}

@font-faces {
	font-family: 'Bebas Neue';
	src: url(fonts/BebasNeue Regular.ttf) format('truetype');
	font-weight: normal;
}

body {
    margin: 0;
    font-family: 'DejaVu Sans';
    font-size: 18px;
}

img {
	display: block;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 36px;
	margin-top: 15vh;
	margin-bottom: 0px;
}

h2 {
	text-align: center;
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 24px;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
	padding: 10vh 10vw;
}

nav {
	font-weight: bold;
	font-family: 'Bebas Neue';
	background-color: white;
	text-align: right;
	position: fixed;
	width: 100vw;
}

nav div {
	margin: 3vh 3vw;
}

nav div a {
	text-decoration: none;
	margin: 0 1.5vw;
	color: black;
}

section {
	display: block;
	background-color: white;
}

section .text {
	text-align: justify;
	line-height: 1.5;
	margin: 10vh 25vw;
	size: 16px;
}

.title {
    background-image: url("../img/placeholder.jpeg"); /* Temporário */
    background-color: black;
    background-size: cover; /* Temporário */
    height: 100vh;
}

.abstract {
}

.contact {
	background-color: black;	
}