@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	margin: 0;
	font-family: 'Roboto';
	font-size: 18px;
}

:not(img):not(video) {
	max-width: 100%;
}

h1 {
	text-align: center;
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 0px;
}

a > em {
	display: inline-block;
}

footer {
	background-color: black;
	text-align: center;
	color: white;
	padding: 10vh 10vw;
}

section {
	display: block;
	margin: 10vmin 0;
	min-height: 100vh;
	max-height: 100vh;
	text-align: center;
	background-color: white;
}

section.textual, section.textual *, section.videoWrapper {
	min-height: 0;
	max-height: none;
}

section article {
	display: inline-block;
	text-align: justify;
}

section.textual article {
	line-height: 1.5;
	margin: 0;
	width: 55vw;
}

section.image, section.carousel {
	max-height: none;
	display: block;
	line-height: 0;
}

section.image > *, section.carousel > * {
	display: block;
}

section.image > article, section.carousel > article {
    justify-content: center;
	align-items: center;
	position: relative;
	display: inline-flex;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

section.image p, section.carousel p {
	background-color: black;
	line-height: 1.5;
	padding: 3vmin 0;
	font-size: 15px;
	color: white;
	margin: 0;
}

.title-holder {
	margin: 0;
	overflow: hidden;
	text-align: center;
}

.contact {
	background-color: black;
}

.layered {
	position: relative;
}

.layered > * {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

.layer-10 {
	z-index: 10;
}

.layer-9 {
	z-index: 9;
}

.layer-8 {
	z-index: 8;
}

.layer-2 {
	z-index: 2;
}

.layer-1 {
	z-index: 1;
}

#logo {
	max-height: 60vh;
	padding-top: 10vh;
}

#title {
	max-height: 16vh;
}

#start {
	-webkit-animation: blink 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: blink 1s;
	-moz-animation-iteration-count: infinite;
	max-height: 8vh;
}

#info {
	width: inherit;
}

#info img {
	width: auto;
	height: auto;
	margin: auto;
	display: block;
	max-width: 80vw;
}

@media all and (min-aspect-ratio:16/9) {
	img, video {
		height: auto;
		width: 100%;
	}
}

@media all and (max-aspect-ratio:16/9) {
	img, video {
		height: 100vh;
		width: auto;
	}
}

@media all and (max-width:40em) {
	section.textual article {
		max-width: 80vw;
		width: 20em;
	}
}
