nav {
	font-family: 'Bebas Neue Regular';
	background-color: white;
	position: fixed;
	z-index: 10;
}

nav div {
	margin: 3vh 2vw;
}

nav a {
	text-decoration: none;
	color: black;
}

nav.horizontal {
	text-align: right;
	width: 100%;
}

nav.horizontal a {
	font-family: 'Bebas Neue';
	margin: 0 1.5vw;
	font-weight: bold;
}

nav.vertical {
	overflow-x: scroll;
	padding-top: 50px;
	height: 100vh;
	width: 22vw;
}

nav.vertical * {
	display: block;
}

nav.vertical div {
	border-bottom: 1px solid black;
	display: block;
}

nav.vertical div a {
	font-weight: lighter;
	margin: 2vh 0;
}

nav.vertical div > :first-child {
	font-family: 'Bebas Neue Regular';
	font-weight: normal;
	display: block;
}

#nav-burger {
	position: absolute;
	height: 100%;
	padding: 0;
	margin: 0;
	left: 2vw;
	top: 0;
}

#nav-burger .hamburger-box {
	height: 100%;
}

#nav-burger .hamburger-inner {
	transition-duration: 0.3s;
}
