nav {
	font-family: 'Bebas Neue Regular';
	background-color: white;
	position: fixed;
	z-index: 10;
}

nav div {
	margin: 3vmin 2vw;
}

nav a {
	text-decoration: none;
	color: black;
}

nav.horizontal {
	text-align: right;
	width: 100%;
}

nav.horizontal a {
	margin: 0 1.5vw;
}

/* Manter enquanto nao houver Contatos*/
nav.horizontal div {
	height: 27px;
}

nav.horizontal h2 {
	position: absolute;
	display: inline;
	line-height: 1;
    left: 8vmax;
    margin: 0;
}

nav.vertical {
	overflow-x: scroll;
	padding-top: 70px;
	width: 20em;
	bottom: 0;
	top: 0;
}

nav.vertical div {
	border-bottom: 1px solid black;
	display: block;
}

nav.vertical div a {
	margin: 2.5vh 0;
	display: block;
}

nav.vertical div > :first-child {
	font-family: 'Bebas Neue';
	font-weight: bold;
	display: block;
}

#nav-burger {
	position: fixed;
	padding: 0;
	left: 2vw;
	top: 0;
}

#nav-burger .hamburger-box {
	width: 30px;
	height: 18px;
	margin: 3vmin 0;
}

#nav-burger .hamburger-inner {
	transition-duration: 0.3s;
}

#nav-burger .hamburger-inner,
#nav-burger .hamburger-inner::before,
#nav-burger .hamburger-inner::after {
	height: 3px;
	width: 100%;
}

#nav-burger:not(.is-active) .hamburger-inner::before {
	top: -7px;
}

#nav-burger:not(.is-active) .hamburger-inner::after {
	bottom: -7px;
}

@media all and (max-width:20em) {
	nav.vertical {
		width: 100vw;
	}
}
